- image_file = @day
- img = Magick::Image.read("#{ENV['PWD']}/public/images/#{image_file}.jpg").first
/ - thumb = img.resize_to_fit(550)
- thumb = img.resize_to_fill(550, 360)
- thumb.write("#{ENV['PWD']}/public/images/#{image_file}_resized.jpg")

%div{:style=>'position:relative'}
  %table
    %tr
      %td.image{:colspan=>2}
        %img{:src=>"/images/#{image_file}_resized.jpg" ,:align=>'center'}
        %div.copyright
          &copy; Rob Aldred
        
    %tr
      %td.day{:width=>'100px',:align=>'center',:rowspan=>3}
        %b
          = @time.day
      %td
        ="#{@time.strftime('%A')}".upcase
    %tr
      %td
        ="#{@time.strftime('%B')}".upcase
    %tr
      %td
        ="#{@time.year}"
